<% content_for :sidebar do %>
  <li><%= link_to 'Back', root_path %></li>
<% end %>
<h1>Contact Me</h1>
<%= form_for @message do |f| %>
  <% if !@message.errors.empty? %>
    <p>Please review the following errors that are preventing your message from being sent:</p>
    <ul>
      <% @message.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :email_confirmation %>
    <%= f.text_field :email_confirmation %>
  </p>
  <p style="display: none">
    <%= f.label :website %>
    <%= f.text_field :website %>
    Please leave this blank.
  </p>
  <p>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit 'Send message' %> or
    <%= link_to 'Cancel', root_path %>
  </p>
<% end %>
