<h1>Add Image to Album</h1>

<p>Please select which image you want to add to the album '<%= @album_image.album.title %>'.</p>

<%= form_for @album_image do |f| %>
  <p>
    <%= f.label :image_id %>
    <%= f.select :image_id, @album_image.album.images_not_present.map { |image| [image.title, image.id] } %>
  </p>
  <p>
    <%= f.submit 'Save' %>
    or
    <%= link_to 'Cancel', @album_image.album %>
  </p>
<% end %>
