<%= form_for(@album) do |f| %>
  <%= render partial: "partials/errors", locals: { object: @album } %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
    or
    <%= link_to 'Cancel', root_path %>
  </p>
<% end %>
