<% content_for :title_extra, " - #{@album.title}" %>
<% content_for :head_extra do %>
  <script>
    $(document).ready(function() {
      $("<a>&lt; Back</a>")
        .click(function() {
          $(".main").animate({
            scrollLeft: 0
          }, 1000);
        })
        .css("cursor", "pointer")
        .button()
        .appendTo(".content");
      <% if logged_in? %>
        $("#albums").sortable({
          update: function(event, ui) {
            id = ui.item.attr("id").substring(6);
            index = parseInt(ui.item.index()) + 1;
            $.post("/albums/" + id + "/move.xml", { to: index })
              .error(function() { location.reload(); });
          }
        }).disableSelection();
        $("#images").sortable({
          opacity: 0.6,
          update: function(event, ui) {
            id = ui.item.attr("id").substring(6);
            index = parseInt(ui.item.index()) + 1;
            $.post("/albums/<%= @album.id %>/images/" + id + "/move.xml", { to: index })
              .error(function() { location.reload(); });
          }
        }).disableSelection();
        $(".standard_controls").hide();
        $("#images li").hover(
          function() {
            $(this).find(".close-button").css("visibility", "visible");
          },
          function() {
            $(this).find(".close-button").css("visibility", "hidden");
          }
          )
        $("#images li .close-button").click(function() {
          var image = $(this).parent().parent();
          $.post("/albums/<%= @album.id %>/images/" + image.attr("id").substring(6) + ".xml", { _method: "delete" })
            .error(function() { location.reload(); });
          $(image).remove();
        });
      <% end %>
    });
  </script>
<% end %>
<% content_for :sidebar do %>
  <ul id="albums">
    <% Album.ordered.each do |album| %>
      <li id="album-<%= album.to_param %>">
        <%= link_to_unless_current album.title, album %>
        <% if logged_in? %>
          <%= button_to '✎', edit_album_path(album), :method => :get %>
          <%= button_to '✗', delete_album_path(album), :method => :get %>
          <%= button_to '↑', promote_album_path(album), :class => 'standard_controls' %>
          <%= button_to '↓', demote_album_path(album), :class => 'standard_controls' %>
          <%= button_to '+', new_album_image_path(album), :method => :get %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if logged_in? %>
    <li style="margin-top: 10px"><%= link_to 'New album...', new_album_path %></li>
    <li><%= link_to 'Manage images...', images_path %></li>
  <% end %>
<% end %>
<ul id="images">
  <% @album.images.each do |image| %>
    <li id="image-<%= image.to_param %>">
    <div class="image">
      <% if logged_in? %>
        <%= button_to '←', promote_album_image_path(@album, image), :class => 'standard_controls' %>
      <% end %>
      <%= image_tag image.image.url %>
      <% if logged_in? %>
        <%= image_tag('close.png', :class => 'close-button') %>
        <%= button_to '✗', album_image_path(@album, image), :method => :delete, :class => 'standard_controls' %>
        <%= button_to '→', demote_album_image_path(@album, image), :class => 'standard_controls' %>
      <% end %>
    </div>
    </li>
  <% end %>
</ul>
