<% content_for :title_extra, " - #{@album.title}" %>
<% content_for :sidebar do %>
  <% if admin? %>
    <ul>
      <li class="separator"><%= link_to 'Create Album...', new_album_path %></li>
    </ul>
  <% end %>
<% end %>

<ul class="photostrip" id="images">
  <% @album.images.each do |image| %>
    <li style="-webkit-flex: <%= image.image.aspect_ratio %> 1 <%= 400 * image.image.aspect_ratio  %>px;" data-image-id="<%= image.to_param %>">
      <% if admin? && image.too_small? %>
        <i class="fa fa-exclamation-triangle"></i>
      <% end %>
      <% if admin? %>
        <i class="fa fa-times"></i>
      <% end %>
      <%= image_tag image.image.url, title: image.title, alt: image.title %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <%= link_to new_album_image_path(@album) do %>
    <div class="photostrip add-button">
      <i class="fa fa-plus"></i> Add image...
    </div>
  <% end %>
<% end %>
