<% content_for :sidebar do %>
  <ul>
    <li><%= link_to 'Manage Albums', root_path %></li>
  </ul>
<% end %>
<h1>Listing images</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.title %> (used in <%= pluralize(image.albums.count, 'album') %>)</td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Delete', delete_image_path(image) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload Image', new_image_path %>
