<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Annette Robinson - Photography &amp; Artwork<%= yield :title_extra %></title>

    <!--[ if lt IE 8 ]><meta http-equiv="refresh" content="0;url=/old-ie.html"><![endif]-->
    <meta name="google-site-verification" content="8e-QUBLnbcQXT0P2rB17eUsh3Ch-qEF9kMoAqzLuReQ">
    <meta name="description" content="The online portfolio of Annette Robinson - Artist, Designer, and Photographer.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <script src="/images.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true if admin? %>

    <%= csrf_meta_tags %>

    <%= yield :head_extra %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <header>
      <%= link_to root_url do %>
        <hgroup>
          <h1>Annette Robinson</h1>
          <h2>Photography &amp; Artwork</h2>
        </hgroup>
      <% end %>
      <nav>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <%= content_tag :li, link_to('Manage Images...', images_path) if admin? %>
          <%= content_tag :li, link_to('Log out', logout_path), class: 'authentication' if logged_in? %>
        </ul>
      </nav>
    </header>
    <div>
      <div>
        <%= yield %>
      </div>
      <nav>
        <ul id="albums">
          <% Album.ordered.each do |album| %>
            <li data-album-id="<%= album.to_param %>" class="<%= 'selected' if album == @album %>"><%= link_to album.title, album %></li>
          <% end %>
        </ul>
        <% if admin? %>
          <ul>
            <li class="separator"><%= link_to 'Create Album...', new_album_path %></li>
          </ul>
        <% end %>
        <%= yield :sidebar %>
      </nav>
    </div>
    <footer>
      &copy; <%= Time.now.year %> Annette Robinson. All Rights Reserved.
    </footer>
    <div style="position: fixed; left: 50%; top: 50%; margin: -1em 0em 0em -1em; display: none;" id="spinner"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
  </body>
</html>
