<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="BRvij8_UTH5AQyU9O-MTwDWvDrBH4maNR1M8ofTc1z0">
    <title>Annette Robinson - Photography & Artwork<%= yield :title_extra %></title>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.12.custom' %>
    <!--[if lt IE 8]><meta http-equiv="refresh" content="0;url=/old-ie.html"><![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <meta name="description" content="The online portfolio of Annette Robinson - Artist, Designer, and Photographer.">
    <%= yield :head_extra %>
    <script>
      $(document).ready(function() {
        $(".notice, .alert").fadeOut(3000, "easeInExpo");
        $("form").submit(function() {
          $(this).find("input[type=submit]").attr("disabled", "disabled");
        });
      });
    </script>
  </head>
  <body>
    <div class="top"></div>
    <div class="main">
      <div class="sidebar">
        <h1>Annette<br>Robinson</h1>
        <% unless flash[:notice].blank? %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:alert].blank? %>
          <p class="alert"><%= flash[:alert] %></p>
        <% end %>
        <ul>
          <%= yield :sidebar %>
          <% if logged_in? %>
            <li style="margin-top: 10px;"><%= link_to 'Log out', logout_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2011 Annette Robinson. It is an offence to copy, redistribute or modify any content (including derivative works) from this website without permission.</p>
    </div>
  </body>
</html>
