<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Annette Robinson - Photography &amp; Artwork<%= yield :title_extra %></title>

    <!--[ if lt IE 8 ]><meta http-equiv="refresh" content="0;url=/old-ie.html"><![endif]-->
    <meta name="google-site-verification" content="8e-QUBLnbcQXT0P2rB17eUsh3Ch-qEF9kMoAqzLuReQ">
    <meta name="description" content="The online portfolio of Annette Robinson - Artist, Designer, and Photographer.">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <script src="/images.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true if admin? %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true if admin? %>

    <% if Rails.env.production? %>
      <script src="https://cdn.ravenjs.com/3.1.1/raven.min.js"></script>
      <script>Raven.config('https://3e039c647ea74e8fb6ffe8c88a429348@app.getsentry.com/59824').install()</script>
    <% end %>

    <%= csrf_meta_tags %>

    <%= yield :head_extra %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <div class="top"></div>
    <div class="main">
      <div class="sidebar">
        <h1>Annette<br>Robinson</h1>
        <ul>
          <%= yield :sidebar %>
          <% if logged_in? %>
            <li style="margin-top: 10px;"><%= link_to 'Log out', logout_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="content"><%= yield %></div>
    </div>
    <div class="footer">
      <p>
        © <%= Time.now.year %> Annette Robinson. It is an offence to copy, redistribute or modify any content (including derivative works) from this website without permission<a href="/auth/facebook">.</a>
    </div>
  </body>
</html>
